body {
  margin: 0;
  box-sizing: border-box;
}

.title {
  text-align: center;
}

.select {
  width: 360px;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}
